.footer-upper {
  background-color: $backgroundpink;
  border-bottom: 1px solid $footerborder;
}
.foooter-titile {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  font-family: $titan;
  margin-bottom: 43px;
  text-transform: uppercase;
}
.foooter-titile__label {
  max-width: 232px;
  color: $pink;
  font-size: 18px;
  line-height: 1.17;
}
.footer-title__main {
  max-width: 200px;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: $darkpink;
}

.social-list {
  display: flex;
  padding-left: 127px;
  justify-content: space-between;
  margin-bottom: 46px;
}

.social-list__icon {
  width: 32px;
  height: 32px;
  fill: $pinkicon;
  transition: fill 250ms $cubic-bezier;
  will-change: fill;
  &:hover,
  &:focus {
    fill: $darkpink;
  }
}

.footer-contact {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  padding-bottom: 43px;

  &__pink {
    color: $darkpink;
    font-weight: 500;
  }
}

.footer-copyright {
  padding-top: 22px;
  padding-bottom: 25px;
  background-color: $backgroundpink;
}

.footer-copyright__note {
  color: $textgrey;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  max-width: 140px;
  margin: 0 auto;
  text-align: center;
}
