<section class="customer-reviews">
    <div class="reviews container">
        <ul class="reviews__cards">
            <li class="review__card">
                <img class="review__customer-avatar" src="./images/customer/customer@1x.png" alt="avatar-customer"/>
                <article class="review__content">

               Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.
               
                </article>
                
               <svg class="review__suspointspnk">
                <use href="./images/icons.svg#suspointspnk"></use>
                </svg>
                <h2 class="review__customer-orgin">Emily, Los Angeles</h2>
    </ul>
</section>